version: "3.1"

services:
  web:
    image: nginx:1.21.6
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./src:/usr/share/nginx/html
    ports:
      - 80:80
      - 443:443
