version: "3.3"

services:
  web:
    container_name: nginx
    build:
      context: ./my-nginx/
      args:
        ENABLED_MODULES: cachepurge nginx-upload-module
    image: my-nginx-with-cachepurge:v1
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./src:/usr/share/nginx/html
    ports:
      - 80:80
      - 443:443
